<%= bootstrap_form_for @movie do |f| %>

  <% if @movie.errors.any? %>
    <div>
      <%= pluralize(@movie.errors.count, "error") %> prevented this movie from being submitted:
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.text_field :title, value: 'ex. Pirates of the Carribean' %>

    <%= f.date_field :release_date, value: 'ex. 12/12/1942' %>

  
    <%= f.text_field :director, value: 'ex. Nicolas Cage' %>


    <%= f.number_field :runtime_in_minutes, value: 'ex. 93', label: "Runtime in Minutes" %>

    <%= f.text_field :remote_poster_image_url %>

    <%= f.file_field :poster_image, label: 'Or upload your own image' %>


    <%= f.text_area :description %>

    <%= f.submit 'Submit' %> 

<% end %>
